@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

#title {
  text-align: center;
}

.container-palette {
  display: flex;
  justify-content: center;
  align-items: center;
}

.palette {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin: 15px 37% 0;
  width: auto;
  border: 1px solid black;
  border-radius: 40px;
  box-shadow: 10px 10px 8px #888888;;
}

.color {
  border: 1px solid black;
  padding: 20px;
  width: 2px;
  height: 1px;
  margin: 0 10px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

.container-board-size {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botao-vqv {
  width: 50px;
  margin-top: 8px;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  background-color: lightblue;
  font-weight: 600;
  cursor: pointer;
}

.botao-vqv:hover {
  background-color: rgb(30, 176, 224);
  transform: scale(1.05);
}

#board-size {
  width: 170px;
  text-align: center;
  border-radius: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#pixel-board {
  display: grid;
  cursor: pointer;
  margin-bottom: 50px;
}

.pixel {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-color: white;
}

.botoes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  margin: 10px 0;
}

.botoes-reset, .botoes-color {
  margin: 0 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: lightblue;
  font-weight: 600;
  cursor: pointer;
}

.botoes-reset:hover, .botoes-color:hover {
  background-color: rgb(30, 176, 224);
  transform: scale(1.05);
}